<section class="main" [ngClass]="{'main--docked': isDocked}">
    <div class="main__wrapper">
        <div class="main__logo">
            <img height="32" src="../../../assets/images/logo.svg" alt="">
        </div>
        <div class="main__menu">
            <div class="main__menu__button">Home</div>
            <div class="main__menu__button">Restaurants</div>
            <div class="main__menu__button">Menu</div>
        </div>
        <div class="main__button">Book A Table</div>
        <div class="main__button">Login</div>
        <div class="main__socials">
            <div style="padding-top: 4px; padding-right: 4.5px;" class="main__socials__button"><img width="24" src="../../../assets/images/facebook.svg"></div>
            <div class="main__socials__button"><img width="25" src="../../../assets/images/instagram.svg"></div>
            <div class="main__socials__button"><img width="25" src="../../../assets/images/twitter.svg"></div>
        </div>
    </div>
</section>