.logo {
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    float: left;
}

[nz-menu] {
    line-height: 64px;
}

nz-content {
    padding: 0 50px;
}

nz-footer {
    text-align: center;
}