<nz-layout>
    <nz-header>
      <div class="logo r2-frow r2-fcenter">
        <img src="../../assets/images/logo.svg" alt="">
      </div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" style="color: white;">
        <li nz-menu-item>Organization</li>
        <li nz-menu-item>Restaurant</li>
        <li nz-menu-item>Menu</li>
        <li nz-menu-item>Items</li>
      </ul>
    </nz-header>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>© 2024 RESTWO - ALL RIGHTS RESERVED</nz-footer>
  </nz-layout>